@import 'var'

// ###############################################
// ###############################################
// START Boilerplate (not Important for the Tutorial)

body,
html
    align-items: center
    background-color: $second
    display: flex
    font-family: 'Roboto'
    font-size: 10px
    height: 100%
    justify-content: center
    margin: 0
    padding: 0
    width: 100%

*
    box-sizing: border-box

// END Boilerplate (not Important for the Tutorial)
// ###############################################
// ###############################################


.output
    color: white
    font-size: 2rem