// In dieser Datei werden einfache Presets geladen, diese Datei kann
// sofen das Projekt für ein wirkliches Projekt als Grundlage
// dient einfach gelöscht werden.

$prime: #ff6e48;
$ciBlue: #00fff1;
$ciRed: #ff00aa;
$ciGreen: #46fcb4;
$second: #0c1016;

$roboto: 'Roboto', sans-serif;

@font-face {
	font-family: $roboto;
	src: url('./../assets/fonts/Roboto-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: $roboto;
	src: url('./../assets/fonts/Roboto-Regular.ttf');
	font-weight: 500;
}

@font-face {
	font-family: $roboto;
	src: url('./../assets/fonts/Roboto-Light.ttf');
	font-weight: 300;
}

body,
html {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $second;
	font-size: 10px;
	margin: 0;
	padding: 0;
	color: $ciBlue;
	font-family: $roboto;
}

* {
	box-sizing: border-box;
}
